body {
    padding: 0;
    margin: 0;
    font-family: "Arial";
}

* {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    width: 100%;
    border-top: 1px solid #e4e4ec;
    margin: 30px 0;
}


ul {
    padding: 0;
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.ulka {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ulka a {
    transition: all 0.5s ease;
}

.flex-between {
    display: flex;
    column-gap: 32px;
    justify-content: space-between;
}

.content a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.7em;
    color: #b1b1d2;
    transition: all 0.5s ease;
}

.content {
    padding: 23px 0;
    background-color: #1f1f56;
}

.icons img:hover {
    background-color: #fd8300;
}

.buttons a {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
}

.minimain {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.minimain a {
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 16px;
    line-height: 0.6em;
    color: #25252c;
}

.main-img {
    background: url(../img/Rectangle.png) no-repeat center/cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.main-img p {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto Slab";
}

.main-img i {
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
}

.main-img b {
    font-size: 24px;
    line-height: 1em;
    color: #fd8300;
}

.main h1 {
    padding-top: 50px;
    font-size: 30px;
    color: #24242b;
    font-family: "Roboto Slab";
}

.main-text p {
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
    padding-top: 25px;
}

.main-a a {
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7em;
    color: #fd8300;
}

.house-other {
    padding-bottom: 46px;
}

.house-other h2 {
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-family: "Roboto Slab";
}

.menu-main h3 {
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
}

.menu-main p {
    font-size: 13px;
    line-height: 0.7em;
    color: #9999a6;
}

.falling-out {
    padding: 37px 0 0 10px;
    font-size: 16px;
    line-height: 0.6em;
    color: #ffffff;
    font-family: "Roboto Slab";
}

.falling-out p {
    padding: 10px 45px 10px 10px;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #1f1f56;
}

.falling-out a {
    transition: all 0.5s ease;
    text-decoration: none;
    padding: 10px 45px 10px 10px;
    display: block;
    background-color: #e4e4ec;
    border: 2px solid #cdcddd;
    font-size: 14px;
    line-height: 0.6em;
    color: #25252c;
    font-family: "Arial";
}



.white-bg {
    background-color: #ededf5;
    padding: 20px 0;
}

.fotter a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8em;
    color: #666;
    font-family: "Arial";
}

.name {
    font-size: 13px;
    line-height: 0.7em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
    background-color: #dcdce6;
    padding: 13px;
}

.fotter a:hover {
    text-decoration: underline;
    color: #fb9121;
}

.content a:hover {
    text-decoration: underline;
    color: #fd8300;
}


.main-a a:hover {
    text-decoration: underline;
    color: silver;
}

.minimain a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.submenu {
    display: none;
}

.falling-out li:hover > .submenu {
    display: block;
}

.falling-out a:hover {
    text-decoration: underline;
    background-color: #fd8300;
    color: #ffffff;
}