@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../Fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../Fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../Fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../Fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../Fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../Fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
    padding: 0;
    margin: 0;
    font-family: "Arial";
}

* {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    width: 100%;
    border-top: 1px solid #e4e4ec;
    margin: 30px 0;
}


ul {
    padding: 0;
    list-style: none;
}

p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    padding-top: 55px;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.ulka {
    display: flex;
    align-items: center;
    justify-content: center;

}

.ulka a {
    transition: all 0.5s ease;
}

.ulika>li {
    padding: 15.6px 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.house-one {
    border-radius: 3px;
}

.phone_one a {
    padding: 0 0 0 22px;
}


.ulka svg {
    fill: #fff;
    transition: all 0.5s ease;
}

.ulka li:hover svg {
    fill: #fd8300;
}

.house-dogs {
    border-radius: 3px;
}

.house-one,
.house-dogs {
    display: none;
    background-color: #e4e4ec;
}

.ulika li:hover>.house-one,
.house-one li:hover>.house-dogs {
    display: block;
}

.house-one:before {
    content: "";
    position: absolute;
    border-top: 5px solid transparent;
    top: -10px;
    left: 0;
    height: 100%;
    width: 100%;
}


.ulika li {
    position: relative;
}

.house-one li {
    position: relative;

}

.house-dogs,
.house-one {
    content: "";
    position: absolute;
    min-width: 140px;
    border-top: 1px solid transparent;
    top: calc(100% + 5px);
    left: 0;
}

.house-one li:hover {
    background-color: #fd8300;
}

.house-one li:hover {
    background-color: #fd8300;
}

.house-one li:first-child {
    border-radius: 3px;
}

.house-one li:last-child {
    border-radius: 3px;
}

.house-dogs {
    top: 0;
    left: calc(100% + 4px);
}

.house-dogs:before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    border-left: 4px solid transparent;
    height: 100%;
}

.house-one li+li {
    border-top: 1px solid #cecedd;
}


.ulika .house-one a {
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #25252c;
    font-family: "Arial";
}

.house-one a {
    display: flex;
}

.house-one>li>a {
    position: relative;
}

.ulika .house-one li:hover>a {
    color: #fff;
}

.house-one>li>a:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    transform: translateY(-50%) rotate(135deg);
    transition: all .1s ease;
}

.house-one>li:hover>a:before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: translateY(-50%) rotate(225deg);
}

.content a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.7em;
    color: #b1b1d2;
    transition: all 0.5s ease;
}

.ulika,
.ulka {
    display: flex;
    justify-content: space-between;
    column-gap: 28px;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #ddd;
}

.content {
    z-index: 100;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #1f1f56;
}

.icons img:hover {
    background-color: #fd8300;
}

.buttons a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
}

.buttons {
    font-size: 16px;
    line-height: 0.6em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.main-skype__head a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
}




.minimain {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.minimain a {
    transition: all 0.5s ease;
    font-size: 16px;
    line-height: 0.6em;
    color: #25252c;
}


.main-img {
    background: url(../img/Rectangle.png) no-repeat center/cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.phone a {
    text-decoration: none;
    font-size: 18px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.Gmail a {
    font-size: 16px;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.Gmail,
.Phone-lih {
    padding-bottom: 6px;
}

.phone svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}

.phone:hover svg {
    fill: #1f1f56;
}

.main-skype svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}

.main-skype:hover svg {
    fill: #1f1f56;
}


.Gamil a {
    text-decoration: underline;
}



.bidpocinok {
    padding-bottom: 12px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto Slab";
}

.hata {
    padding-top: 16px;
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.p-bot {
    font-size: 14px;
    line-height: 0.5em;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

.main {
    padding: 50px 0;
}

.main h1 {
    padding-top: 5.8px;
    font-size: 30px;
    color: #24242b;
    font-family: "Roboto Slab";
}

.main-text p {
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
    padding-top: 25px;
}

.main-a a {
    transition: all 0.5s ease;
    text-decoration: underline;
    font-size: 14px;
    line-height: 1.7em;
    color: #fd8300;

}

.aside-menu {
    position: sticky;
    top: 55px;
}

.h1-main {
    padding-top: 20px;
    font-size: 16px;
    color: #24242b;
    font-family: "Roboto Slab";
}

.text {
    padding-top: 12px;
    padding-bottom: 27px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

table {
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #1f1f56;
}

tbody {
    background-color: #e4e4ec;
}

td {
    transition: all 0.5s ease;
}

tbody tr:hover td {
    color: #fff;
    background-color: #fd8300;
}


td {
    padding: 12px 20px;
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}

td+td {
    border-left: 1px solid #cecedd;
}

td {
    border-top: 1px solid #cecedd;
}

td:last-child {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    text-align: center;
}

td:nth-child(4) {
    text-align: center;
}

th {
    border: 1px solid #274569;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto Slab";

}

.loren:nth-child(2) {
    padding: 14px 0;
}

.lorey:nth-child(3) {
    text-align: right;
    padding-right: 20px;
}

.loret:first-child {
    padding: 23.5px 20px 23.5px 20px;
    text-align: left;
}

.lorem {
    padding: 15px 10px;
}



.text-gg {
    padding: 24px 0;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.posilania a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    transition: all 0.5s ease;
}

.posilania a:hover {
    color: #666;
}

.miana {
    column-gap: 225px;
    align-items: flex-end;
}
.maini {
    display: flex;
    column-gap: 88px;
    align-items: flex-end;
}

.ifrom {
    position: relative;
    min-width: 466px;
    min-height: 23.2rem;
    overflow: hidden;
}

.phonee a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}


input[type=text]:last-child {
    margin: 0 9px 9px 0;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    min-width: 100%;
    min-height: 41px;
}

input p {
    min-width: 467px;
    min-height: 41px;
}

input[type=checkbox] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.parent {
    position: relative;

}

.parent span {
    position: absolute;

}

input:checked + span {
    top: 0%;
    left: 50%;
    width: 6px;
    height: 9px;
    border-top: 2px solid #1f1f56 ;
    border-left: 2px solid #1f1f56 ;
    transform: translate(-50%, -10%) rotate(-135deg);
}


iframe {
    position: absolute;
    top: -71px;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
}

textarea {
    padding: 9px 0 0 10px;
    margin: 0 0 12px 0;
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    max-width: 466px;
    max-height: 105px;
    height: 105px;
    width: 466px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.trer {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

input [type=placeholder] {
    padding-right: 9px;
    color: #526374;
}

.firma {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding-bottom: 9px;
}

.tree {
    margin-top: 25px;
}
form a {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    border-radius: 21px;
    background-color: #fd8300;
    padding: 13px 30.5px;
    text-decoration: none;
    transition: all 0.5s ease;
}

form a:hover {
    color: black;
}
label {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
    padding-left: 10px;
}

input[type=text]:nth-child(3),
input[type=text]:nth-child(2) {
    margin: 0 9px 9px 0;
    width: 232px;
    height: 41px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.treee {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}


.house-other {
    padding-bottom: 46px;
}

.house-other li {
    padding-top: 11px;
    font-size: 13px;
    line-height: 0.7em;
    color: #9999a6;
    font-family: "Arial";
}

.house-other h2 {
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-family: "Roboto Slab";
}

.house-other h3:hover {
    text-decoration: underline;
}

.house-other h3 {
    font-size: 14px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    padding-top: 4px;
}

.menu-main h3 {
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
}

.menu-main p {
    font-size: 13px;
    line-height: 0.7em;
    color: #9999a6;
}

aside {
    min-width: 220px;
}

.falling-out p {
    font-size: 16px;
    color: #ffffff;
    padding: 12px 15px;
    background-color: #1f1f56;
    font-family: "Roboto Slab";
}

aside {
    padding-left: 20px;
}



.menu a {
    display: block;
    font-size: 14px;
    color: #25252c;
    font-family: "Arial";
    padding: 12px 15px;
    background-color: #e4e4ec;
    text-decoration: none;
}




.menu>li>a {
    position: relative;
}

.menu>li>a:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    transform: translateY(-50%) rotate(135deg);
    transition: all .1s ease;
}

.menu>li:hover>a:before {
    transform: translateY(-50%) rotate(225deg);
}


.menu li:hover>a:before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.menu li:hover>.submenu {
    visibility: visible;
    max-height: 1000px;
    transition: max-height .5s ease;
}



.falling-out {
    border-radius: 3px;
    overflow: hidden;
}

.submenu a:hover {
    background-color: #cecedd;
}

.falling-out li:hover>a {
    color: #fff;
}

.menu li:hover>a {
    background-color: #fd8300;
}

.submenu li:hover>a {
    background-color: #cecedd;
}

.menu>li {
    border-top: 1px solid #666;
}

.submenu li {
    padding: 0 0 0 14px;
}

.submenu {
    visibility: hidden;
    max-height: 0;

}

.fotter {
    column-gap: 90px;
}

.minimainÐ° {
    column-gap: 90px;
    align-items: flex-start;
}

.align {
    align-items: center;
}

.submenu a {
    background-color: #e4e4ec;
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}

.white-bg {
    background-color: #ededf5;
    padding: 20px 0;
}

.fotter a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8em;
    color: #666;
    font-family: "Arial";
}

.white-bg>li>a {
    column-gap: 50px;
}

.name {
    font-size: 13px;
    line-height: 0.7em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
    background-color: #dcdce6;
    padding: 13px;
}


.fotter a:hover {
    text-decoration: underline;
    color: #fb9121;
}

.content li:hover {
    color: #fd8300;
}

.main-a a:hover {
    text-decoration: underline;
    color: silver;
}

.minimain a:hover {
    color: #fd8300;
}