@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../Fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../Fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../Fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../Fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../Fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../Fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
    padding: 0;
    margin: 0;
    font-family: "Arial";
}

* {
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    width: 100%;
    border-top: 1px solid #e4e4ec;
    margin: 30px 0;
}


ul {
    padding: 0;
    list-style: none;
}

p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
    padding-top: 55px;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.ulka {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ulka a {
    transition: all 0.5s ease;
}

.ulika > li {
    padding: 15.6px 0;
}

.flex-between {
    display: flex;
    column-gap: 32px;
    justify-content: space-between;
}

.house-one {
    border-radius: 3px;
}

.phone_one a {
    padding: 0 0 0 22px;
}


.ulka svg {
    fill: #fff;
    transition: all 0.5s ease;
}

.ulka li:hover svg {
    fill: #fd8300;
}

.house-dogs {
    border-radius: 3px;
}

.house-one,
.house-dogs {
    display: none;
}

.ulika li:hover > .house-one,
.house-one li:hover > .house-dogs {
    display: block;
}
.house-one:before {
    content: "";
    position: absolute;
    border-top: 1px solid transparent;
    top: -5px;
    left: 0;
}


.ulika li {
    position: relative;
}

.house-one li {
    position: relative;

}

.house-dogs,
.house-one {
    content: "";
    position: absolute;
    min-width: 140px;
    border-top: 5px solid transparent;
    top: calc(100% + 5px);
    left: 0;
    background-color: #e4e4ec;
}

.house-one li:hover {
    border-radius: 3px;
    background-color: #fd8300;
}

.house-dogs {
    top: 0;
    left: calc(100% + 4px);
}
.house-dogs:before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    border-left: 4px solid transparent;
    height: 100%;
}

.house-one li+li {
    border-top: 1px solid #cecedd;
}


.ulika .house-one a {
    padding: 12px 5px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
}

.house-one a {
    display: flex;
}
.house-one > li > a {
    position: relative;
}

.house-one > li > a:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    transform: translateY(-50%) rotate(135deg);
    transition: all .1s ease;
}

.house-one > li:hover > a:before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: translateY(-50%) rotate(225deg);
}
.content a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.7em;
    color: #b1b1d2;
    transition: all 0.5s ease;
}

.divider {
    width: 1px;
    height: 40px;
    background-color: #ddd;
} 
.content {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #1f1f56;
}

.icons img:hover {
    background-color: #fd8300;
}

.buttons a {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
}

.buttons {
    font-size: 16px;
    line-height: 0.6em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.minimain {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.minimain a {
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 16px;
    line-height: 0.6em;
    color: #25252c;
}


.main-img {
    background: url(../img/Rectangle.png) no-repeat center/cover;
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.phone {
    
    font-size: 18px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}
.Gmail,
.Phone-lih {
    padding-bottom: 6px;
}

.phone svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}

.phone:hover svg {
    fill: #1f1f56;
}

.main-skype svg {
    fill: #fd8300;
    transition: all 0.5s ease;
}

.main-skype:hover svg {
    fill: #1f1f56;
}


.Gamil p {
    text-decoration: underline;
}   



.bidpocinok {
    padding-bottom: 12px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto Slab";
}

.hata {
    padding-top: 16px;
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.p-bot {
    font-size: 14px;
    line-height: 0.5em;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

.main {
    padding: 50px 0;
}
.main h1 {
    padding-top: 5.8px;
    font-size: 30px;
    color: #24242b;
    font-family: "Roboto Slab";
}

.main-text p {
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
    padding-top: 25px;
}

.main-a a {
    transition: all 0.5s ease;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7em;
    color: #fd8300;

}

.aside-menu {
    position: sticky;
    top: 55px;
}

.h1-main {
    padding-top: 20px;
    font-size: 16px;
    color: #24242b;
    font-family: "Roboto Slab";
}

.text {
    padding-top: 12px;
    padding-bottom: 27px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

table {
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #1f1f56;
}

tbody {
    background-color: #e4e4ec;
}

tr {
    transition: all 0.5s ease;
}

tbody > tr:hover {
    background-color: #fd8300;
}

td {
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    padding: 12px;
}
td+td {
    border-left: 1px solid #cecedd;
}

td {
    border-top: 1px solid #cecedd;
}

td:last-child {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    text-align: center;
}

td:nth-child(4) {
    text-align: center;
}

th {
    border: 1px solid #274569;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Roboto Slab";
    
}

.loren:nth-child(2) {
    padding: 14px 0;
}

.lorey:nth-child(3) {
    text-align: right;
    padding-right: 10px;
}

.loret:first-child {
    padding: 23.5px 20px 23.5px 20px;
    text-align: left;
}

.lorem {
    padding: 15px 10px;
}



.text-gg {
    padding: 24px 0;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.posilania a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    transition: all 0.5s ease;
}

.posilania a:hover {
    color: #1f1f56;
}

.house-other {
    padding-bottom: 46px;
}

.house-other li {
    padding-top: 11px;
    font-size: 13px;
    line-height: 0.7em;
    color: #9999a6;
    font-family: "Arial";
}

.house-other h2 {
    padding-bottom: 24px;
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-family: "Roboto Slab";
}

.house-other h3:hover {
    text-decoration: underline;
}

.menu-main h3 {
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
}

.menu-main p {
    font-size: 13px;
    line-height: 0.7em;
    color: #9999a6;
}

aside {
    min-width: 220px;
}

.falling-out p {
    font-size: 16px;
    line-height: 0.6em;
    color: #ffffff;
    padding: 10px 16px;
    background-color: #1f1f56;
    font-family: "Roboto Slab";
}

.menu a {
    display: block;
    font-size: 14px;
    line-height: 0.5em;
    color: #25252c;
    font-family: "Arial";
    padding: 10px 16px;
    background-color: #e4e4ec;
    color: #000;
    text-decoration: none;
}

.menu > li > a {
    position: relative;
}

.menu > li > a:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 7px;
    height: 7px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: translateY(-50%) rotate(135deg);
    transition: all .1s ease;
}

.menu > li:hover > a:before {
    transform: translateY(-50%) rotate(225deg);
}

.menu li:hover > .submenu {
    visibility: visible;
    max-height: 1000px;
    transition: max-height .5s ease;
}

.menu li:hover > a {
    background-color: #fd8300;
}

.submenu li:hover > a {
    background-color: #cecedd;
}

.menu > li {
    border-top: 1px solid #000;
}

.submenu {
    visibility: hidden;
    max-height: 0;
}

.submenu a {
    background-color: #e4e4ec;
}

.white-bg {
    background-color: #ededf5;
    padding: 20px 0;
}

.fotter a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8em;
    color: #666;
    font-family: "Arial";
}

.name {
    font-size: 13px;
    line-height: 0.7em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
    background-color: #dcdce6;
    padding: 13px;
}


.fotter a:hover {
    text-decoration: underline;
    color: #fb9121;
}

.content a:hover {
    color: #fd8300;
}

.main-a a:hover {
    text-decoration: underline;
    color: silver;
}

.minimain a:hover {
    color: #fd8300;
}
